.tableContent {
    overflow: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    /* width: 100.18px;
    height: 50.2px;
    left: 600.84px;
    top: 1101.61px; */

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    /* display: flex;
    align-items: center; */

    color: #AEAEAE;
}