* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/fundo-star-wars.svg");
  background-color: rgba(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* or 129% */
  color: #FFFFFF;
}

.grafismo {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

img {
  width: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #2E3035;
  background-size: 70px;
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
}

td {
  text-align: center;
  border-bottom: 1px solid #828282;
}

tr:hover {
  background-color: #828282;
  color: rgba(0, 0, 0);
}

.tableBox {
  box-sizing: border-box;

  border: 1px solid #FFFFFF;
  border-radius: 20px;

  max-width: 900px;
  width: 90%;
  height: 500px;
  margin: 10px auto;
  margin-top: 0;

  position: relative;
}

